<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="tval">
        <button @click="add">添加</button>

        <!-- 遍历数组 -->
        <!-- <ul>
            <li v-for="item in arr">{{item}}</li>
        </ul> -->
        <!-- 遍历对象 -->
        <ul>
            <li v-for="item in infos" :key="item.id">
                <input type="checkbox">{{item.name}}
            </li>
        </ul>
    </div>

</body>

<script src="./js/vue.js "></script>
<script>
    var a = new Vue({
        el: "#app ",
        newid: 2,
        data: {
            tval: "",
            arr: ["RE:0", "骨王", "黑执事"],
            infos: [{
                id: 1,
                name: "ligy",
                age: "23"
            }, {
                id: 2,
                name: "liyt",
                age: "25"
            }]
        },
        methods: {
            add() {
                this.infos.splice(2, 0, {
                    id: ++this.newid,
                    name: this.tval,
                    age: 20
                });
            }
        },
    });
</script>

</html>