<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <!-- 
1.原生radio需要标记相同的name,则会单选
2.Vue中使用v-model绑定后同一个data属性后,name可以去掉

 -->
        <label for="male">
         <input type="radio" id="male" name="gender" value="男" v-model="selecetedGender">男
        </label>
        <label for="female">
         <input type="radio" id="female" name="gender" value="女" v-model="selecetedGender">女
        </label>
        <h2>{{selecetedGender}}</h2>
    </div>
</body>

<script src="./js/vue.js "></script>
<script>
    var a = new Vue({
        el: "#app ",
        data: {
            msg: "AAA",
            selecetedGender: "男",
        }
    });
</script>

</html>