<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<!-- 
1.循环使用 v-for="item in arr" ;
  arr是data中的数据属性,item 是自定义名称,是arr的元素
  如果arr是数字数组,那么item就是一个数字
  如果arr里面是对象,那么item就是一个对象,访问对象中属性使用item.属性名

2.循环需要标记一个Key
  Vue中绑定属性使用 v-bind:属性名或者他的简写 :属性名;
  绑定Key需要一个唯一值,为了将元素区分开;
  下面的例子就是体现出Key的作用,如果没有Key,那么选择的元素会因为插入元素后,导致没有选中,反而该元素之前的索引位置的元素被选中了
    
 -->

<body>
    <div id="app">
        <input type="text" v-model="tval">
        <button @click="add">添加</button>

        <!-- 遍历数组 -->
        <ul>
            <li v-for="item in arr">{{item}}</li>
        </ul>


        <!-- 遍历对象 -->
        <ul>
            <!-- Key的重要性 -->
            <li v-for="item in infos" :key="item.id">
                <input type="checkbox">{{item.name}}
            </li>
        </ul>
    </div>

</body>

<script src="./js/vue.js "></script>
<script>
    var a = new Vue({
        el: "#app ",
        newid: 2,
        data: {
            tval: "",
            arr: ["RE:0", "骨王", "黑执事"],
            infos: [{
                id: 1,
                name: "ligy",
                age: "23"
            }, {
                id: 2,
                name: "liyt",
                age: "25"
            }]
        },
        methods: {
            add() {
                this.infos.splice(2, 0, {
                    id: ++this.newid,
                    name: this.tval,
                    age: 20
                });
            }
        },
    });
</script>

</html>